@page "/"
@inject WordCreator wordCreator
@rendermode InteractiveServer

<PageTitle>Xceed Words.NET Sample</PageTitle>

<h1>Select a button to export data to check how Xceed.Words.NET works!!!"</h1>

<div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
	<button class="btn btn-primary" @onclick="GenerateSimpleDocument" style="margin: 10px;">Generate Simple document</button>
	<button class="btn btn-success" @onclick="GenerateList" style="margin: 10px;">Generate enumerated document</button>
	<button class="btn btn-secondary" @onclick="GenerateTable" style="margin: 10px;">Generate document with table</button>
</div>


@code {
	private async Task GenerateSimpleDocument() => await wordCreator.CreateSimpleDoc();
	private async Task GenerateList() => await wordCreator.CreateListedDoc();
	private async Task GenerateTable() => await wordCreator.CreateTableDoc();
}
