<div class="top-row ps-0 navbar navbar-dark">
    <div class="container-fluid">
        <div>
            <img src="images/logox.png" alt="Logo" width="40" height="40" />
            <a class="navbar-brand" href="">Xceed.Words.Net</a>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Sample
            </NavLink>
        </div>
    </nav>
</div>

